* {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue", sans-serif ;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto; /* why is it not centering everything? */
  padding: 0;
}

p {
  max-width: 600px;
}

.button {
  border: 2px solid black;
  color: black;
  font-weight: 600;
  margin-top: 50px; /* why is this not working? */
  padding: 10px;
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  color: #ff7575;
}

.container {
  max-width: 1440px;
  margin: 0 65px 50px 65px;
}

/* navigation */
.nav-links {
  float: right;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 25px;
  position: relative;
}

.nav-links a {
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: lowercase;
}

.nav-links a:hover {
  color: black;
}

.nav-links a::before {
  content: '';
  background-color: #444;
  display: block;
  height: 5px;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
  width: 0%;
}

.nav-links a:hover::before {
  width: 100%;
}

/* banner */
.banner {
  background-color: #ff7575; /* #ff6666 - websafe*/
  height: 100vh;
  padding-top: 250px;
}

/* main section */
.main-section{
  height: 100vh;
  padding: 70px;
}

.main-image{
  display: inline-block;
  float: right; /*why did this work only with float? */
}

.image-cover {
  height: 500px;
  width: 500px;
}

.main-content {
  padding: 250px 0px;
}

.header {
  background-image: linear-gradient(transparent 0%, transparent 65%, #ff7575 65%, #ff7575 100%, transparent 90%, transparent);
  display: inline;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 15px 0 20px;
  }

  .banner {
    padding-top: 22vh;
  }

  .main-section {
    padding: 20px;
  }

  .main-image{
    float: none;
    margin-left: auto; /* is this even working? */
    margin-right: auto;
  }

  .image-cover {
    height: 350px;
    width: 350px;
  }

  .main-content {
    padding: 10px;
  }
}

/* ls case study page */
.image-overview {
  display: inline-block;
  float: right;
}

.overview {
  display: inline-block;
}
