* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cutive Mono, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #8193A5;
}

h1 {
  font-family: Cutive Mono, monospace;
  font-size: 24px;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  position: fixed;
  width: 100%;
  height: 84px;
  z-index: 10;
  background: white;
  padding-bottom: 20px;
  margin: 0 auto;
  font-family: Inconsolata, monospace;
  padding: 25px 25px 0 25px;
}

.logo {
  float: left;
  margin-top: 7px;
}

.nav-links {
  float: right;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  color: black;
  font-family: Inconsolata;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 16px;
}

nav a:hover {
  color: black;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.extrawrapper{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/SVG/Asset 8.SVG");
  max-width: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;

}

.wrapper h1 {
  color: black;
}

.section {
  /* height: 100vh;
  min-width: 100vh; */
  flex: 1;
  display: flex;
  /* content styling OPTIONAL*/
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* background styling */
  background-repeat: no-repeat;
}

.a {
  /* background-color: #8193A5;
  background-image: url("./images/SVG/Asset 1.SVG"); */
  margin-right: 50px;
}

.banner-content {
  margin-left: 300px;
  background-color: #8193A5;
}

.top {
  height: 100px;
  max-width: 600px;
  margin-top: 90px;
  padding-top: 35px;
  padding-left: 50px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/SVG/Asset 6.SVG")
}

.bottom {
  max-width: 600px;
}

.c {
  /* background-image: url("./images/SVG/Asset 5.SVG") */
}

.button {
  background-color: white;
  border-color: black;
  width: 110px;
  height: auto;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.button:link, .button:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active {
  background-color: black;
  color: white;
}
/* .myimage {
  float: right;
  margin-right: 50px;
  padding-top: 75px;
} */

.aboutme {
  max-width: 600px;
  padding: 40px;

}

.title1 {
  max-width: 600px;
  background-image: url("./images/SVG/Asset 3.SVG");
  background-size: cover;
  background-image: none;
}

p .white {
  color: white;
}

.fixedContainer {
  width 50%;
  height: 100px;
  background-color: red;
  position: fixed;
}

/* .banner {
  background:
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;;
  padding-top: 100px;
  height: 500px;
} */

.center {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .section {
    display: block;
    max-width: 100%;
    flex: none;
  }

  .top {
    height: auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    background: white;
    background-image: none;
  }

  .banner-content {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
