* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cutive Mono, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Cutive Mono, monospace;
  font-size: 24px;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  position: fixed;
  width: 100%;
  height: 84px;
  z-index: 10;
  background: white;
  padding-bottom: 20px;
  margin: 0 auto;
  font-family: Inconsolata, monospace;
  padding: 0 25px;
}

.logo {
  float: left;
  margin-top: 7px;
  padding-top: 25px;
}

.nav-links {
  float: right;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  padding-top: 25px;
}

.nav-links a {
  color: black;
  font-family: Inconsolata;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 16px;
}

.nav-links a:hover {
  color: black;
}

.nav-links a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav-links a:hover::before {
  width: 100%;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/banner_starry_sky.svg");
  position: relative;
  height: 100vh;
  display: flex;
  color: white;
}

.banner-content {
  margin-top: 150px;
  max-width: 600px;
  background-color: #8193A5;
  margin-left: auto;
  margin-right: 15%;
  position: relative;
}

.banner-content .heading {
  color: black;
  background-image: url("./images/banner_heading_blob.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 160px;
  padding-top: 65px;
  padding-left: 50px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.btn {
  background-color: white;
  border-color: black;
  width: 110px;
  height: auto;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.btn:link, .btn:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn:hover, .btn:active {
  background-color: black;
  color: white;
}

.white {
  color: white;
}

@media only screen and (max-width: 1024px) {
  body {
    padding-bottom: 100px;
  }

  .banner-content {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }

  .banner-content .heading {
    background: white;
    background-image: none;
    padding: 15px 20px;
    height: auto;
    margin-bottom: 40px;
  }
}

  .casestudy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 50px;
  }

  .casestudy-image {
    display: inline-block;
    background-image: url("./images/splash_screen.svg");
    background-size: cover;
    height: 450px;
    width: 450px;
  }

  .casestudy-description {
    display: inline-block;
    padding: 50px;
  }

  .style1 {
    border-top: 1px solid #8193A5;
    background-color: white;
    width: 80%;
  }

  .casestudy2-image {
    display: inline-block;
    background-image: url("./images/splash_screen.svg");
    background-size: cover;
    height: 450px;
    width: 450px;
    margin-bottom: 50px;
  }
